.mainCard {
  display: flex;
  flex-direction: column;
  width: min(400px, 90%);
  box-sizing: border-box;
  aspect-ratio: 1 / 1;  
  background-color: var(--white-color);
  align-items: center;
  justify-content: center;
  border: 2px solid var(--gray-color);
  border-radius: 24px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.mainCard h3 {
  font-size: var(--font-big);
  align-self: center;
}

.mainCard img {
  width: 40%;
  max-width: 128px;
  height: auto;
}
