* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f5f5dc;
  --white-color: white;
  --gray-color: gray;
  --font-big: 28px;
  --font-medium: 22px;
  --font-small: 16px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: var(--background-color);
}

.main-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: var(--white-color);
  align-items: center;
  justify-content: center;
  border: 2px solid var(--gray-color);
  border-radius: 24px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.container .card {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 200px;
  background-color: var(--white-color);
  align-items: center;
  justify-content: center;
  border: 2px solid var(--gray-color);
  border-radius: 24px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.card p {
  font-size: var(--font-small);
}

.container h4 {
  font-size: var(--font-medium);
}

.main-card h3 {
  font-size: var(--font-big);
}
