* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f5f5dc;
  --white-color: white;
  --gray-color: gray;
  --font-big: 28px;
  --font-medium: 22px;
  --font-small: 16px;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container h4 {
  font-size: var(--font-medium);
}
