.card {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 200px;
  background-color: var(--white-color);
  align-items: center;
  justify-content: center;
  border: 2px solid var(--gray-color);
  border-radius: 24px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.cardGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.card p {
  font-size: var(--font-small);
}
